@media (min-width: 768px) {}

main {
    position: relative;
}

.data {
    position: absolute;
    top: 50px;
    left: 30px;

    background-color: rgba(255, 255, 255, 0.9);

    width: 300px;
    padding: 1rem;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3)
}

.weather {
    position: absolute;
    bottom: 50px;
    right: 30px;

    background-color: rgba(255, 255, 255, 0.9);

    width: 300px;
    padding: 1rem;


    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3)
}

.weather h2::after {
    content: "🌥️";
}

pciture img {
    height: 700px;
}