@media (min-width: 768px) {
    main {
        position: relative;
        max-width: 1200px;
    }

    picture img {
        height: 700px;
        object-fit: cover;
    }

    .data {
        position: absolute;
        top: 50px;
        left: 30px;
        width: 300px;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .weather {
        position: absolute;
        bottom: 50px;
        right: 30px;
        width: 300px;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .weather-icon {
        display: none;
    }

    .weather-heading::after {
        content: " 🌥️";
    }
}