body {
    font-family: "Roboto", sans-serif;
    margin: 0;

}

header {
    background-color: navy;
    color: white;
    padding: 1rem;
}

h1 {
    margin: 0;
}

#menu {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

#menu::before {
    content: "☰";

}

#menu.open::before {
    content: "˟";
}

.navigation {
    display: flex;
    flex-direction: column;

}

.navigation.open {
    display: flex;
}

.navigation a {
    display: none;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #ffffff33;
}

.open a {
    display: block;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure img {
    width: 100%;
    height: auto;
}

footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 1rem;
}